<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><% preact.title %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
		<script type="text/javascript">
			var ARCTERYX = {
			  WEBSITE_SETTINGS: {
				MARKET: 'OUTDOOR',
				SEASON: 'F',
				YEAR: 2020,
				LANGUAGE: 'ENGLISH',
				LANG: 'EN',
				SERVER: 'WEB1',
				COUNTRY: 'CA',
				IS_LOGGED_IN: 'NOTLOGGEDIN',
				STATE: '',
				PAGE_NAME: "Product",
				CDN_DOMAIN: '//scripts.arcteryx.com',
				GA_TRACKING_ID: 'UA-283808-20',
				ADOBE_TRACKING_ID: 'arctprod',
				ADOBE_TRACKING_ID_SYS_PARM: 'arctprod',
				CUSTOMER_ID: '0',
				CUSTOMER_EMAIL: '',
				ENABLE_LOCALLY: true,
				ARCTERYX_ECOMM: 'ARCTERYXECOMM',
				MAGENTO_ECOMM: '',
				ATTRACT_SITE_ID: "2cddd73a-34cf-4976-bb5c-fe99dc63747c",
				SHOW_OLAPIC_IN_PDP_MAIN_IMAGES: true,
				ENABLE_OUTLET_PROMO_UI_CHANGES: true
			  }
			};
		</script>
	</body>
</html>
